<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>(Diaspora:Cybernest)</title>
  </head>
  <body>
    
    <div id="app">
      <!-- <div class="container-fluid"> -->
      <!--   <div class="card-deck"> -->
      <!--     <div class="card-block"> -->
      <!--       <h4>Welcome to (Diaspora:Cybernest)</h4> -->
      <!--       <p>If you're seeing this message, you goofed! ClojureScript fool!</p> -->
      <!--       <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>

    <!-- scripts and styles -->
    {% style "/css/lace.css" %}
    {% style "/css/style.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
